# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
/build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/build/

# PyBuilder
target/

# Paraview outputs
*.vtu
*.pvd
*.pvtu

# Checkpoints and outputs
*.ipynb_checkpoints/
outputs*
plots/

/docs/source/teamgrid.rst
/docs/source/thetis.rst
/docs/source/field_list.rst
/docs/source/eos_options.rst
/docs/source/model_options_2d.rst
/docs/source/model_options_3d.rst
/docs/source/sediment_model_options.rst
/docs/source/turbulence_options.rst
/docs/source/demos/
