@font-face {
    font-family: 'pt_serifregular';
    src: url('PTF55F-webfont.eot');
    src: url('PTF55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('PTF55F-webfont.woff2') format('woff2'),
         url('PTF55F-webfont.woff') format('woff'),
         url('PTF55F-webfont.ttf') format('truetype'),
         url('PTF55F-webfont.svg#pt_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

