name: Test Pushes

on:
  push:
    branches:
      - master
      - release

jobs:
  test:
    uses: ./.github/workflows/core.yml
    with:
      branch: ${{ github.ref_name }}
      image: ${{ github.ref_name == 'release' && 'firedrakeproject/firedrake-vanilla-default:latest' || 'firedrakeproject/firedrake-vanilla-default:dev-main' }}
    secrets: inherit
